h1 {
    margin: 0;
}

h2 {
    margin-bottom: 8px;
}

.login-wrapper {
    height: 100vh;
    width: 100vw;
    background-image: url(../images/mountain.webp);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wrapper > .card {
    min-width: 300px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    margin-top: 8px;
}

.hint-message {
    margin-top: 16px;
}
